@charset "utf-8";
.metalGallery{ width:400px; height:150px; margin:10px; float:left; }

.metalGallery > .front{
	position:absolute;
	transform: perspective( 600px ) rotateY( 0deg );
	 width:400px; height:150px; border-radius: 7px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}
.metalGallery > .reverse{
	position:absolute;
	transform: perspective( 600px ) rotateY( 180deg );
	background:#EFEFEF; width:400px; height:150px; 
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}
.metalGallery:hover > .front{
	transform: perspective( 600px ) rotateY( -180deg );
}
.metalGallery:hover > .reverse{
	transform: perspective( 600px ) rotateY( 0deg );
}